html, body{
    margin: 0px;
    padding: 0px;
    border:0px;
}
h1, h2, h3{
    margin: 0px;
    padding: 10px;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
p{
    line-height: 1.5;
}
.wrapper{
    width: 100%;
    background: antiquewhite;
}
.container{
    
    max-width: 1200px;
    margin: 0 auto;

}
.header{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    
}
main{
    border-left: 5px solid #086af3;
    box-shadow: 8px 0px 18px;
    background: white;
}
.block__left{
    
    padding: 10px;
    text-align: center;
border-right: 1px solid black;
width: 100%;
}
.block__right{
    padding: 10px;
    width: 100%;
    border-left: 1px solid black;
}
img{
    width: 124px;
    height: 200px;
}
.contact{
    list-style: none;
}
.contact li{
    margin-bottom: 5px;
}
.code__example{
    background: rgb(243, 243, 243);
}
.about{
    padding: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 100px;
    height: 100px;
}
.GitHub{
    align-self: center;
}
.time{
    align-self: flex-end;
}
